---
preloadCSS: '/assets/css/cms.css'
eleventyComputed:
    title: '{{ title }}'
    description: '{{ description }}'
    preloadImg: '{{ image }}'
	permalink: '/dragon/{{ title | slug }}/index.html'
	intro: '{{ intro }}'
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/cms.css" />
{% endblock %} {% block body %}

<div class="cms-container main-content-wrapper">
  <div class="main-content">
    <article class="cms-article">
      <picture class="cms-mainImage">
        <img
          src="{{ image }}"
          alt="{{ imageAlt }}"
          width="795"
          height="400"
          decoding="async"
        />
      </picture>
      <div class="article-group">
        <h1 class="cms-h1">{{ title }}</h1>

        <div class="cms-authorGroup">
          <picture class="cms-author-img">
            <img
              src="/assets/svgs/profile.svg"
              alt="house"
              width="32"
              height="32"
              decoding="async"
            />
          </picture>
          <span class="cms-author">{{ author }}</span>
          <span aria-hidden="true" class="cms-dot"></span>
          <span class="cms-date">{{ date | postDate }}</span>
        </div>
      </div>
      <section id="cms-content">{{ content | safe }}</section>
    </article>
  </div>
  {% include 'components/featured-post.html' %}
</div>
{% endblock %}
