---
title: "dragon"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
intro: "dragon"
permalink: "dragon/"
eleventyNavigation:
	key: dragon
	order: 700
---
{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/cms.css" />
{% endblock %} {% block body %}
<div class="cms-container main-content-wrapper">
	<div class="main-content">
		{% if collections.dragon | length == 0 %}
		<h1>No Recent Posts</h1>
		{% else %} {%- for post in collections.dragon | reverse -%}
		<article class="recent-articles">
			<picture class="cms-mainImage">
				<img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" decoding="async" />
			</picture>
			<div class="article-group">
				<div class="cms-authorGroup">
					<picture class="cms-author-img">
						<img src="/assets/svgs/profile.svg" alt="house" width="32" height="32" decoding="async" />
					</picture>
					<span class="cms-author">{{ post.data.author }}</span>
					<span aria-hidden="true" class="cms-dot"></span>
					<span class="cms-date">{{ post.date | postDate }}</span>
				</div>
				<h2 class="cms-h1">{{ post.data.title }}</h2>
				<p class="cms-desc">{{ post.data.description }}</p>
				<a href="{{ post.url }}" class="cs-button-solid">Continue Reading</a>
			</div>
		</article>
		{%- endfor -%} {% endif %}
	</div>
</div>
{% endblock %}